.container{
    text-align: center;
    border: 1px solid cadetblue;
    margin: 20px auto;
    width: 40%;
    position: relative;
    height: 550px;
    padding: 20px 0px;
}
.App {

    border: 1px solid cadetblue;
    margin: 20px auto;
    width: 85%;
    position: relative;
    height: 400px;
    display: inline-block;
    overflow: auto;
}
h1{
    text-align: center;
}

button{
    padding: 10px 20px;
}


.dishContainer {
    width: auto;
    height: 50px;
    background-color: aquamarine;
    margin: 10px 20px;

}